@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  background-image: url("../styles/img/Card.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.cardInvite {
  background-image: url("../styles/img/CardInvite.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.cardNew {
  background-image: url("../styles/img/CardNew.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.flip-card {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.rotated .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
/* Styles for Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #888
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #666; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333; 
}